@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

<footer class="page-footer font-small blue align-bottom">
<div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="http://selesgabriel.herokuapp.com"> Gabriel Seles</a>
    </div>
</footer>